@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
    <div class="container-fluid pb-3">
        <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
            <div class="bg-body-tertiary border rounded-3">
                <br><br><br><br><br><br><br><br><br><br>
            </div>
            <div class="bg-body-tertiary border rounded-3">
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
    
</div>
